[submodule "themes/just-me"]
	path = themes/just-me
	url = https://github.com/jota-ele-ene/just-me.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
